# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Editor settings
.vscode/

# Python local environment
.venv/
__pycache__/
*.py[cod]

# Local model weights
/yoloe-26n-seg.pt
/yoloe-v8s-seg.pt
/yoloe-*.onnx
/yoloe-*.onnx.data
/mobileclip*.pt
/mobileclip*.ts


# Added by cargo

/target
