name: Rust Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  build-library:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: actions/checkout@v6
    - uses: DeterminateSystems/flake-checker-action@main
    - uses: DeterminateSystems/determinate-nix-action@main
    - uses: DeterminateSystems/flakehub-cache-action@main

    - name: Build
      run: nix develop --command cargo build --verbose

    - name: Run tests
      run: nix develop --command cargo test --verbose

  build-examples:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: actions/checkout@v6
    - uses: DeterminateSystems/flake-checker-action@main
    - uses: DeterminateSystems/determinate-nix-action@main
    - uses: DeterminateSystems/flakehub-cache-action@main

    - name: Build
      working-directory: examples/yolo-cli
      run: nix develop --command cargo build --verbose

    - name: Run tests
      working-directory: examples/yolo-cli
      run: nix develop --command cargo test --verbose
